/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    /* display: flex;
    flex-direction: column; */
    min-height: 100vh;
}

.wrapper {
    flex: 1;
    min-height: 100vh;
  }
  
footer {
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s; /* Adiciona transição suave para mudanças */
}

/* Modo Escuro Geral */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

/* Container */
body.dark-mode .container {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

/* Sidebar */
body.dark-mode .sidebar {
    background-color: #232323;
    color: #e0e0e0;
}

body.dark-mode .sidebar a {
    color: #e0e0e0;
    border-bottom: 1px solid #333;
}

body.dark-mode .sidebar a:hover {
    background-color: #333;
    color: #fff;
}

body.dark-mode .sidebar a.active {
    background-color: #8d27ac;
    color: #fff;
}

/* Botões */
body.dark-mode .toggle-btn, 
body.dark-mode .hide-sidebar-btn, 
body.dark-mode .dark-mode-toggle {
    background-color: #8d27ac;
    color: #e0e0e0;
}

body.dark-mode .dark-mode-toggle {
    background-color: #8d27ac;
    color: white;
}

/* Footer */
body.dark-mode footer {
    background-color: #232323;
    color: #e0e0e0;
}

/* Seções de Módulos no Modo Escuro */
body.dark-mode section[id^="module"] {
    background-color: #1e1e1e;
    color: #e0e0e0;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
    max-width: 800px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

body.dark-mode section[id^="module"]:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.2);
}

body.dark-mode section[id^="module"] h2 {
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;
    color: #8d27ac; /* Título em roxo */
}

body.dark-mode section[id^="module"] p {
    font-size: 16px;
    margin-bottom: 15px;
}

/* Melhorando a Organização dos Tópicos */
body.dark-mode section[id^="module"] ul {
    text-align: left;
    padding-left: 20px;
    list-style-type: disc;
}

body.dark-mode section[id^="module"] li {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.5;
}

body.dark-mode section[id^="module"] li strong {
    color: #8d27ac; /* Destaque em roxo */
}

/* Links */
body.dark-mode a {
    color: #8d27ac;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

body.dark-mode a:hover {
    border-bottom: 2px solid #8d27ac;
}

/* Cabeçalhos */
h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

h2, h3 {
    color: #2c3e50;
    margin-top: 20px;
}

/* Listas */
ul {
    margin: 10px 0;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

li strong {
    color: #27ae60;
}

ul ul {
    margin: 5px 0 10px 20px;
    padding-left: 20px;
    list-style-type: disc;
}

/* Estilo para as Sessões de Módulo */
section[id^="module"] {
    background-color: #f0f8ff; /* Azul muito claro para o fundo */
    color: #2c3e50; /* Azul escuro para o texto */
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section[id^="module"]:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

section[id^="module"] h2 {
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;
    color: #1f78d1; /* Azul mais vibrante para o título */
}

section[id^="module"] p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #34495e; /* Tom de azul-acinzentado suave */
}

/* Melhorando a Organização dos Tópicos */
section[id^="module"] ul {
    text-align: left;
    padding-left: 20px;
    list-style-type: disc;
}

section[id^="module"] li {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: #5d6d7e; /* Tom de azul-acinzentado leve */
}

section[id^="module"] li strong {
    color: #27ae60; /* Destaque em azul suave */
}

/* Links */
section[id^="module"] a {
    color: #27ae60; /* Verde suave para os links (original) */
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease, color 0.3s ease;
}

section[id^="module"] a:hover {
    border-bottom: 2px solid #33a6ff; /* Azul mais claro no hover */
    color: #33a6ff; /* Azul durante o hover */
}

/* Estilo para a Porcentagem Concluída - Light Mode */
span[id^="progress-module"] {
    background-color: #27ae60; /* Fundo verde para a barra de progresso */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efeito ao Passar o Mouse - Light Mode */
span[id^="progress-module"]:hover {
    background-color: #2ecc71; /* Verde mais claro no hover */
    color: #f0f0f0;
}

/* Estilo para a Porcentagem Concluída - Dark Mode */
body.dark-mode span[id^="progress-module"] {
    background-color: #27ae60; /* Fundo verde no dark mode */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efeito ao Passar o Mouse - Dark Mode */
body.dark-mode span[id^="progress-module"]:hover {
    background-color: #2ecc71; /* Verde mais claro no hover no dark mode */
    color: #f0f0f0;
}

/* Barra de Progresso de Conteúdo */
.progress-container {
    background-color: #e0e0e0; /* Cor de fundo da barra de progresso */
    border-radius: 25px;
    position: relative;
    height: 20px;
    width: 100%;
    margin: 20px 0;
    overflow: hidden;
}

.progress-bar {
    background-color: #27ae60; /* Cor verde para o progresso */
    height: 100%;
    width: 0; /* Largura inicial é 0, será preenchida pelo JS */
    border-radius: 25px;
    transition: width 0.3s ease; /* Suave transição de preenchimento */
}

.progress-text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}

/* Dark Mode */
body.dark-mode .progress-container {
    background-color: #4d4d4d; /* Fundo da barra mais escuro no modo escuro */
}

body.dark-mode .progress-bar {
    background-color: #2ecc71; /* Verde mais claro no dark mode */
}
/* Estilo de Contêiner Principal */
.container {
    flex: 1;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: margin-left 0.3s, max-width 0.3s;
    margin-left: 300px; /* Aumentar margem para o conteúdo */
}

/* Links */
a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para Imagens */
.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Estilo da Sidebar */
.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    height: 100%;
    overflow-y: auto;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease, width 0.3s ease;
}

/* Títulos na Sidebar */
.sidebar h3 {
    color: #2c3e50;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Links na Sidebar */
.sidebar a {
    display: block;
    color: #2c3e50;
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    transition: background .8s, color 0.3s;
    border-radius: 10px; /* Deixar o link com cantos arredondados */
}

.sidebar a:hover {
    background-color: #e0e0e0;
    color: #2980b9;
}

/* Link ativo na Sidebar */
.sidebar a.active {
    background-color: #2980b9; /* Cor de fundo para o link ativo */
    color: #fff; /* Cor do texto para o link ativo */
    border-radius: 10px; /* Deixar o link com cantos arredondados */
    padding: 5px 10px; /* Adicionar espaçamento ao redor do link */
    margin: 5px 0; /* Espaçamento entre os links */
}

/* Estilo do Botão de Toggle (Menu) */
.toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1100;
    transition: background 0.3s;
    display: none; /* Inicialmente escondido no desktop */
}

.toggle-btn:hover {
    background-color: #216f94;
}

/* Estilo do Botão de Esconder a Sidebar ("<") */
.hide-sidebar-btn {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1100;
    transition: background 0.3s;
    position: relative;  
}

.hide-sidebar-btn:hover {
    background-color: #216f94;
}

/* Estilo do Botão de Alternar Modo Escuro */
.dark-mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1100;
    transition: background 0.3s;
}

.dark-mode-toggle:hover {
    background-color: #216f94;
}

 /* Responsividade para dispositivos móveis */
@media (max-width: 1000px) {
    /* Ajustes gerais */
    .container {
        margin-left: 0;
        max-width: 100%;
        padding: 15px;
    }

    /* Esconder a sidebar por padrão */
    .sidebar {
        transform: translateX(-100%);
        width: 250px;
        opacity: 1; /* Deixar a sidebar um pouco transparente */
        position: fixed;
        z-index: 1000;
        background-color: rgba(248, 249, 250, 0.9); /* Cor com transparência */
    }

    /* Mostrar o botão "Menu" */
    .toggle-btn {
        display: block;
    }

    /* Ajuste do botão de esconder sidebar */
    .hide-sidebar-btn {
        position: fixed;
        top: 20px;
        right: 20px;
    }

    /* Quando a sidebar está visível */
    .sidebar.visible {
        transform: translateX(0);
    }

    /* Container quando a sidebar está oculta */
    .container.full-width {
        margin-left: 0;
        max-width: 100%;
    }
}

/* Estado da Sidebar Oculta */
.sidebar.hidden {
    transform: translateX(-100%);
}

.container.full-width {
    margin-left: 0;
    max-width: 100%;
}

hr {
    border: none;
    height: 2px; /* Ajuste a altura conforme necessário */
    background: linear-gradient(to right, #2534fd, #4ecdff); /* Gradiente de cores */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    margin: 40px 0; /* Espaçamento superior e inferior */
    position: relative;
    overflow: hidden;
}

/* Animação de transição */
hr::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    animation: slide 1.5s infinite;
}

/* Definindo a animação */
@keyframes slide {
    from {
        left: -100%;
    }
    to {
        left: 100%;
    }
}

/* Esmaecimento */
.visited {
    opacity: 0.6;
}
