/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
    min-height: 100vh;
  }
  
footer {
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s; /* Adiciona transição suave para mudanças */
}

/* Modo Escuro */
body.dark-mode footer {
    background-color: #232323;
    color: #e0e0e0;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .container {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

body.dark-mode .sidebar {
    background-color: #232323;
    color: #e0e0e0;
}

body.dark-mode .sidebar a {
    color: #e0e0e0;
    border-bottom: 1px solid #333;
}

body.dark-mode .sidebar a:hover {
    background-color: #333;
    color: #fff;
}

body.dark-mode .sidebar a.active {
    background-color: #8d27ac;
    color: #fff;
}

body.dark-mode .toggle-btn, body.dark-mode .hide-sidebar-btn, body.dark-mode .dark-mode-toggle {
    background-color: #8d27ac;
    color: #e0e0e0;
}

body.dark-mode .dark-mode-toggle {
    background-color: #8d27ac;
    color: white;
}

/* Cabeçalhos */
h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

h2, h3 {
    color: #2980b9;
    margin-top: 20px;
}

/* Listas */
ul {
    margin: 10px 0;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

li strong {
    color: #27ae60;
}

ul ul {
    margin: 5px 0 10px 20px;
    padding-left: 20px;
    list-style-type: disc;
}

/* Estilo de Contêiner Principal */
.container {
    flex: 1;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: margin-left 0.3s, max-width 0.3s;
    margin-left: 300px; /* Aumentar margem para o conteúdo */
}

/* Links */
a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para Imagens */
.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Estilo da Sidebar */
.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    height: 100%;
    overflow-y: auto;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease, width 0.3s ease;
}

/* Títulos na Sidebar */
.sidebar h3 {
    color: #2c3e50;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Links na Sidebar */
.sidebar a {
    display: block;
    color: #2c3e50;
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    transition: background .8s, color 0.3s;
    border-radius: 10px; /* Deixar o link com cantos arredondados */
}

.sidebar a:hover {
    background-color: #e0e0e0;
    color: #2980b9;
}

/* Link ativo na Sidebar */
.sidebar a.active {
    background-color: #2980b9; /* Cor de fundo para o link ativo */
    color: #fff; /* Cor do texto para o link ativo */
    border-radius: 10px; /* Deixar o link com cantos arredondados */
    padding: 5px 10px; /* Adicionar espaçamento ao redor do link */
    margin: 5px 0; /* Espaçamento entre os links */
}

/* Estilo do Botão de Toggle (Menu) */
.toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1100;
    transition: background 0.3s;
    display: none; /* Inicialmente escondido no desktop */
}

.toggle-btn:hover {
    background-color: #216f94;
}

/* Estilo do Botão de Esconder a Sidebar ("<") */
.hide-sidebar-btn {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1100;
    transition: background 0.3s;
    position: relative; /* Posicionamento absoluto para controle preciso */
    left: -20px; /* Movendo o botão para dentro da sidebar */
}

.hide-sidebar-btn:hover {
    background-color: #216f94;
}

/* Estilo do Botão de Alternar Modo Escuro */
.dark-mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1100;
    transition: background 0.3s;
}

.dark-mode-toggle:hover {
    background-color: #216f94;
}

/* Responsividade */
@media (max-width: 1000px) {
    .container {
        margin-left: 20px; /* Ajuste dinâmico da margem esquerda */
        max-width: calc(100% - 40px); /* Reduz a largura máxima considerando margens */
        padding-left: 20px;
        padding-right: 20px;
    }

    .sidebar {
        width: 250px; /* Largura original da sidebar */
    }

    .toggle-btn {
        z-index: 1200; /* Aumenta o z-index para que o botão fique acima da sidebar */
    }
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }

    ul {
        padding-left: 15px;
    }

    ul ul {
        padding-left: 15px;
        margin-left: 10px;
    }

    .container {
        margin-top: 10px;
        padding: 10px;
    }
}

/* Estado da Sidebar Oculta */
.sidebar.hidden {
    transform: translateX(-100%);
}

.container.full-width {
    margin-left: 0;
    max-width: 100%;
}
